@{
    ViewData["Title"] = "Home Page";
}


<div class="banner-slider">
    <div class="owl-carousel">
        <div class="item">
            <div class="work">
                <div class="img for-text d-flex align-items-center justify-content-center"
                     style="background-image: url(/img/slider-1.jpg);">
                    <p class="header">Geri dönüşüme destek geleceğe destektir</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="work">
                <div class="img for-text d-flex align-items-center justify-content-center"
                     style="background-image: url(/img/slider-2.png);">
                </div>
            </div>
        </div>
        <div class="item">
            <div class="work">
                <div class="img for-text d-flex align-items-center justify-content-center"
                     style="background-image: url(/img/slider-3.jpg);">
                </div>
            </div>
        </div>
    </div>
</div>

