@{
    ViewData["Title"] = "Maps";
}

<style>
    .map {
        margin: 140px 15%;
        width: 1000px;
        height: 500px;
    }
</style>
<div>
    <iframe class="map" src="https://www.google.com.qa/maps/d/embed?mid=1fl0TJIr7Ri4VVPNi6Io3RNDuuIxDlu7z"></iframe>
</div>
