@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<style>
    .mrgn{
        margin-top: 150px;
        margin-left: 10%;
        margin-right: 10%;
    }
</style>

<div class="mrgn">
    <h1>@ViewData["Title"]</h1>
</div>
