@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}


<style>
    .mrgn {
        margin-top: 150px;
        margin-left: 10%;
        margin-right: 10%;
    }
</style>

<div class="mrgn">
    <h1>@ViewData["Title"]</h1>
    <p>
        Please check your email to reset your password.
    </p>

</div>

