@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<style>
    .mrgn {
        margin-top: 150px;
        margin-left: 10%;
        margin-right: 10%;
    }
</style>

<header class="mrgn">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
